*
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

header {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #D7D7D7;
}
.part1
{
    background-color: #252525;
    width: 100%;
}
img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.part1 h1{
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin: 0px;
}
.part1 span{
    color: #99D930;
    font-weight: 900;
    font-size: 80px;
}
.about_section {
    background-color: #c7cecf;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about_section .web {
    margin: 0 auto;
    width: 200px;
    height: 100px;
}
.web span {
    color: #99D930;
    font-size: 28px;
    font-weight: 900;
}
.web h2 {
    margin: 15px 0px;
    font-size: 24px;
    font-weight: 300;
}
.about_section p {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 20px 0px;
}

.about_section button {
    border: none;
    color: #252525;
    background-color: #99D930;
    font-size: 15px;
}

.about_section button:hover {
    color: #fff;
    background-color: #252525;
}

.end_section {
    background-color: #252525;
    padding-top: 20px;
    padding-bottom: 50px;
}

.end_section h2 {
    color: #fff;
    padding-top: 50px;
}

.end_section span {
    font-size: 40px;
    font-weight: 900;
    color: #99d930;
}

.end_section .article {
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

.article h2 {
    padding: 15px 0px;
    font-weight: 300;
}

.end_section h3 {
    color: white;
    margin: 0px;
}

.end_section .wby {
    font-size: 9px;
    color: #99D930;

}

.end_section .pp {
    font-size: 14px;
    color: white;
}

.end_section a {
    color: #99D930;
}

.end_section button {
    border: none;
    background-color: #99D930;
    font-size: 16px;
}
.end_section button:hover{
    background-color: antiquewhite;
    color: #000;
}